* {
	outline: none;
	border: none;
	color: white;
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently
                                supported by Chrome, Edge, Opera and Firefox */
}
.light {
	background-color: #ecfcff;
}
.dark {
	background-color: #383838;
}
html {
	font-family: "Montserrat", sans-serif;
}
h1 {
	padding: 0 30px;
}
.settings {
	background: linear-gradient(134deg, #6a98f0 0%, #4961dc 99%);
	padding: 20px;
	display: flex;
	justify-content: center;
	border-radius: 12px;
}
