canvas {
	border-radius: 12px;
}
.toggle {
	background: linear-gradient(134deg, #6a98f0 0%, #4961dc 99%);
	color: white;
	border-radius: 12px;
	font-size: 16px;
	height: 50px;
	padding: 10px;
	font-family: "Montserrat", sans-serif;
	transition: 0.2s all linear;
}
.toggle:hover {
	cursor: pointer;
	transform: scale(1.05, 1.05);
}
